<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lk.infinitx">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <!-- Firebase Notifications -->
        <service android:name=".service.MessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".location.LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".animation.FlipMainActivity" />
        <activity
            android:name=".animation.CrossfadeActivity"
            android:label="@string/title_crossfade"
            android:parentActivityName=".animation.FlipMainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".animation.FlipMainActivity" />
        </activity>
        <activity
            android:name=".animation.CardFlipActivity"
            android:label="@string/title_card_flip"
            android:parentActivityName=".animation.FlipMainActivity"
            android:theme="@style/DarkTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".animation.FlipMainActivity" />
        </activity>
        <activity
            android:name=".animation.ScreenSlideActivity"
            android:label="@string/title_screen_slide"
            android:parentActivityName=".animation.FlipMainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".animation.FlipMainActivity" />
        </activity>
        <activity
            android:name=".animation.ZoomActivity"
            android:label="@string/title_zoom"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".animation.LayoutChangesActivity"
            android:label="@string/title_layout_changes"
            android:parentActivityName=".MainActivity">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSuDqMgSOUs3dwHshPVlFtyoNLrzUCzA0" />

        <activity android:name=".layout.MainGridActivity"></activity>
        <activity
            android:name=".layout.MainWindowActivity"
            android:label="@string/title_activity_main_window"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contact.ContactPersonActivity"
            android:label="@string/title_activity_contact_people"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".layout.HouseholdItemActivity"
            android:label="HouseholdItemActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>